# Arquivos de dados sensíveis e gerados
extrato.csv
extrato-movimentacao-renda-fixa.ofx

# Arquivos e pastas do Python
__pycache__/
*.pyc

# Arquivos de ambiente virtual (se você usar)
venv/
.venv/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Ignorar a pasta 'old' e todo o seu conteúdo
old/